fastapi
pydantic
python-dotenv
python-multipart
pyyaml
psycopg[binary]
httpx
mcp
oss2
langchain
langchain-core
langchain-community
langchain-text-splitters
dashscope
langgraph
streamlit
uvicorn[standard]
